import(tcltk,tcltk2,stats4)
importFrom(xlsx,write.xlsx)
export("ABM","ABMF","Asys","BB","BBF","Besselp","BMcov","BMinf","BMIrt","BMIto1",
       "BMIto2","BMItoC","BMItoP","BMItoT","BMN","BMNF","BMP","BMRW","BMRWF","BMscal",
	   "BMStra","BMStraC","BMStraP","BMStraT","CEV","CIR","CIRhy","CKLS","diffBridge","DWP",
	   "GBM","GBMF","HWV","HWVF","Hyproc","Hyprocg","INFSR","ItovsStra",
	   "ItovsStraP","ItovsStraT","JDP","MartExp","OU","OUF","PDP","PEABM",
	   "PEBS","PEOU","PEOUexp","PEOUG","ROU","showData","snssde","SRW","Stgamma",
	   "Stst","Telegproc","WNG","PredCorr")
	   
